body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8; /* Light Gray */
  color: #333; /* Dark Gray */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #f0f0f0; /* Lighter Gray */
  padding: 2px;
  border: 1px solid #ccc; /* Medium Gray */
  border-radius: 3px;
  color: #333; /* Dark Gray */
}
